body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Reem Kufi Fun', sans-serif;
    background: rgb(246,248,255);
    background: radial-gradient(circle, rgba(246,248,255,1) 0%, rgba(246,192,234,1) 100%);
}

.state-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
}

h4 {
    margin-top: 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#countdown {
    margin-top: 8px;
    font-size: 21px;
    grid-column-start: 3;
    grid-column-end: 3;
    text-align: right;
}

.evolution-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#evolution1, 
#evolution2,
#evolution-2-crying {
    height: 350px;
    width: 250px;
}

#evolution3 {
    height: 350px;
    width: 300px;
}

.input-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    height: 110px;
    margin: 10px 0;
}

#message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    margin: 0;
    animation: 2s slidein;
}

.icons {
    font-size: 35px;
    display: flex;
    flex-direction: row;
}

#food,
#coffee,
#sleep,
#friend {
    margin: 10px 25px;
    animation: 1.9s slidein;
}

@keyframes slidein {
    from {
        margin-left: 300%;
        width: 400%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

.progress {
    width: 50%;
    margin: 10px;
    border: 2px solid black;
}

@media only screen and (min-width: 768px) {
    .upper-container {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 15% 85%;
        width: 700px;
    }

    h4 {
        grid-row-start: 1;
    }

    .evolution-container {
        display: grid;
        grid-row-start: 2;
        place-items: center;
    }
    
    .input-container {
        display: flex;
        flex-direction: column;
        grid-row-start: 2;
        grid-row-end: 2;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }

    #message {
        font-size: 32px;
    }

    .icons {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        margin: 10px;
        font-size: 50px;
    }

    .progress {
        margin: 40px 0 20px 0;
    }
}