body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.state-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
}

h4 {
    margin-top: 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#countdown {
    margin-top: 8px;
    font-size: 21px;
    grid-column-start: 3;
    grid-column-end: 3;
    text-align: right;
}

#evolution1 {
    height: 350px;
    width: 250px;
}

#evolution2 {
    height: 350px;
    width: 250px;
}

#evolution3 {
    height: 350px;
    width: 250px;
}

.icons {
    font-size: 35px;
    display: flex;
    flex-direction: row;
}

#food,
#coffee,
#sleep,
#friend {
    margin: 10px 25px;
}

.progress {
    width: 50%;
    margin: 10px;
}




/* @media only screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 40% 60%;
    }
} */