body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h4 {
    margin-top: 10px;
    
}

#evolution1 {
    height: 350px;
    width: 250px;
}

#evolution2 {
    height: 350px;
    width: 250px;
}

#evolution3 {
    height: 350px;
    width: 250px;
}

.icons {
    font-size: 35px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}






/* @media only screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 40% 60%;
    }
} */